.git
.env

data/uploads
data/reports

__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.pyo
*.pyd

.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache

models
model_cache
hf_cache
.cache

venv
.venv
node_modules
